<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="studentDao" class="ru.ariona.testingsystem.dao.StudentDaoImpl"/>

    <bean id="studentService" class="ru.ariona.testingsystem.service.StudentServiceImpl">
        <constructor-arg ref="studentDao"/>
    </bean>

    <bean id="questionDao" class="ru.ariona.testingsystem.dao.QuestionDaoImpl"/>

    <bean id="questionService" class="ru.ariona.testingsystem.service.QuestionServiceImpl">
        <constructor-arg ref="questionDao"/>
    </bean>

    <bean id="testController" class="ru.ariona.testingsystem.controller.TestController">
        <constructor-arg ref="studentService"/>
        <constructor-arg ref="questionService"/>
    </bean>
</beans>